@font-face {
    font-family: 'Mabry Pro';
    // src: url('font/Mabry-Black-Pro.woff') format('woff');
    // src: url('font/Mabry-Bold-Pro.woff') format('woff');
    src: url('font/Mabry-Italic-Pro.woff') format('woff');
    src: url('font/Mabry-Medium-Pro.woff') format('woff');
    // src: url('font/Mabry-Regular-Pro.woff') format('woff');
    // src: url('font/Mabry-Black-Pro.woff') format('woff');
    // src: url('font/Mabry-BoldItalic-Pro.woff') format('woff');
}

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400&display=swap');

body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba($secondaryColor, 1);
}

body {
    line-height: 1.5em;
    font-family: 'Mabry Pro', Verdana, 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft JhengHei',
        'sans-serif';
    color: #333;
    background-color: $primaryColor;
    overflow-x: hidden !important;
    overflow-y: auto;
}

// * {
//     outline: 1px solid red;
// }

// ::selection {
//     background: rgba($auo_yellow, 0.75);
//     color: $auo_blue;
// }

// ::-moz-selection {
//     background: rgba($auo_yellow, 0.75);
//     color: $auo_blue;
// }

// img::selection {
//     background: transparent;
// }

// img::-moz-selection {
//     background: transparent;
// }

* {
    box-sizing: border-box;
}

// .nolink {
//     pointer-events: none;
// }

img {
    &.img_circle {
        //圓形
        border-radius: 50%;
    }

    &:not([src]) {
        visibility: hidden;
        opacity: 0;
    }

    &.lazy {
        visibility: hidden;
    }

    &.loaded {
        visibility: visible;
        animation: lazy_animation 0.3s ease-out;
    }
}

@keyframes lazy_animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

.wrapper {
    @include screen('tablet') {
        padding-top: 60px;
        overflow-x: hidden !important;
        overflow-y: auto;
    }

    @include screen('mobile') {
        padding-top: 60px;
    }

    &.dashboard_wrapper {
        background-color: $dashboard_bg;
    }
}

.container {
    max-width: $container-max;
    margin: 0 auto;
    padding: 0 3em;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    // outline: 1px solid red;

    @include screen('mobile') {
        padding: 0 1em;
    }
}

p {
    a {
        color: $auo_blue;
    }
}

a {
    color: $auo_blue;

    &:hover,
    &:focus {
        color: lighten($auo_blue, 10);
    }
}

p,
li {
    color: rgba(255, 255, 255, 0.8);
}

// scrollTop
.scrollToTop {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: url(../images/top.svg) no-repeat center center;
    background-size: contain;
    text-align: center;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    transition: 0.3s ease-out;
    display: none;
    z-index: 99999999;
    text-indent: -999999px;

    @include screen('xs_mobile') {
        bottom: 1em;
        right: 1em;
    }

    &:hover,
    &:focus {
        background: url(../images/top.svg) no-repeat center center;
        background-size: contain;
    }
}

.cover {
    position: absolute;
    width: 1600px;
    height: 1000px;
    top: -1200px;

    img {
        width: 100%;
    }
}

h2 {
    display: block;
    position: relative;

    &.title {
        font-size: 3em;
        color: #fff;
        margin: 0 0 0.5em;
        line-height: 1.35em;
        position: relative;

        @include screen('mobile') {
            font-size: 2em;
        }

        &+p {
            display: block;
            margin: 1em 0;
            text-align: center;
        }
    }

    &.h2_line {
        position: relative;
        width: 100%;
        margin: 1.5em auto 1em;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            width: 100%;
            border-top: 1px solid #555;
        }

        span {
            display: inline-block;
            background-color: #fff;
            padding: 0.5em 1em;
            position: relative;
            z-index: 2;
        }

        @include screen('xs_mobile') {
            width: 90%;
        }
    }
}

// table
table {
    width: 100%;
    border-collapse: collapse;

    @include screen('xs_mobile') {
        width: 100%;
    }



    th,
    td {
        padding: 0.5em;
        text-align: left;
        font-size: 1.125em;
        min-height: 3em;
        color: rgba(255, 255, 255, 0.75);
    }

    td {
        &.website_title {
            width: 250px;
        }

        &.big_title {
            width: 150px;
        }

        border-bottom: #777 1px solid;
        word-break: break-all;

        a {
            word-break: break-all;
        }

        &.num {
            width: 2em;
        }
    }

    th {
        color: #333;
        border-bottom: #ddd 1px solid;
        text-align: center;
        white-space: nowrap;
    }

    &.table_hover {
        tr:hover {
            background: #f3f3f3;
        }
    }

    &.table_sprite {
        tr:nth-child(even) {
            background: #f5f5f5;
        }
    }
}

.table_wrapper {
    width: 100%;

    @include screen('mobile') {
        width: 100%;
        display: block;
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 1em;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);

        table {
            width: 100%;
            // display:none;
            min-width: 600px;
        }
    }
}

.scroltable {
    min-width: 600px !important;
}

.scroltable-wrapper {
    position: relative;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    overflow-y: hidden;
}

.scroltable-container {
    overflow: auto;
}

.scroltable-nav {
    display: none;
    position: absolute;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}

.scroltable-nav.scroltable-nav-left {
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 1%);

    .tablearrow_left {
        position: fixed;
        left: 0em;
        top: 0em;
        display: none;
        z-index: 9;

        @include screen('mobile') {
            display: block;
        }

        &:before {
            position: absolute;
            top: 0em;
            left: -0.2em;
            width: 30px;
            height: 30px;
            background: url(../vendor/scrolltable/images/arrow-left.png) no-repeat 10px center;
            content: '';
            z-index: 2;
            // animation: arrow_left .3s linear infinite alternate;
        }
    }
}

.scroltable-nav.scroltable-nav-right {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

    .tablearrow_right {
        position: fixed;
        top: 0em;
        right: 0em;
        display: none;
        z-index: 9;

        @include screen('mobile') {
            display: block;
        }

        &:before {
            position: absolute;
            top: 0em;
            right: -0.2em;
            width: 30px;
            height: 30px;
            background: url(../vendor/scrolltable/images/arrow-right.png) no-repeat right 10px center;
            content: '';
            z-index: 2;
        }
    }
}

@keyframes arrow_left {
    from {
        left: -0.2em;
    }

    to {
        left: 0.3em;
    }
}

@keyframes arrow_right {
    from {
        right: -0.2em;
    }

    to {
        right: 0.3em;
    }
}

.btn-auo {
    border-radius: 4em;
    min-width: 10em;
    background-color: $auo-blue;
    color: #fff;
    border: none;

    &:hover,
    &:focus {
        background-color: $auo-lightblue;
        color: $auo-blue;
    }
}

.divider {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    &:before {
        position: absolute;
        content: '';
        border-top: 1px solid #ccc;
        width: 100%;
        top: 50%;
        left: 0;
        display: block;
        z-index: 0;
    }

    span {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 0.5em 1em;
        background-color: #fff;
        text-align: center;
        color: #888;
        position: relative;
        z-index: 1;
    }
}