.chart-grid {
    display: flex;
    flex-flow: row wrap;
}

[class^="flex-grid"] {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto 1em;
    justify-content: flex-start;

    .col {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 1em 1.5em;
        min-height: 10em;
        background-color: #FFF;
        border-radius: .5em;
        margin: 0 .5em 1em;
        align-self: stretch;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-flow: row wrap;
        width: 0;
        flex: 1;

        &.auo_blue {
            background-color: $auo_blue;
        }

        &.no-padding {
            padding: 0 !important;
            border-radius: .5em;
            overflow: hidden;
            // align-self: flex-start;

        }

        time {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            font-size: .938em;
            color: #999;
            text-align: right;
            margin: 0 0 0 auto;
            width: 100%;

            &:before {
                content: "update:";
                margin-right: 1em;
            }
        }

        h3 {
            font-size: 1.5em;
            position: relative;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            text-align: left;
            padding-bottom: .5em;
            line-height: 1.35em;
            color: $auo_blue;
            margin: 0 0 .5em 0;

            @include screen('xs_mobile') {
                margin: 0 0 .5em 0;
            }

            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                bottom: 0px;
                left: 0;
                background-color: #f1f1f1;
            }

            &:after {
                position: absolute;
                content: "";
                width: 30%;
                height: 3px;
                bottom: 0px;
                left: 0;
                background-color: $auo_lightblue;
            }
        }


    }
}

.flex-grid-12 {
    .col {

        flex-basis: 100%;
    }
}

.flex-grid-8-4 {
    justify-content: space-between;

    .col {
        flex-basis: calc(66.6666% - 1em);

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 48%;
        }

        @media screen and (max-width:992px) {
            flex-basis: 100%;
        }

        &:nth-child(2n) {
            flex-basis: calc(33.3333% - 1em);

            @media screen and (max-width:1024px) {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 48%;
            }

            @media screen and (max-width:992px) {
                flex-basis: 100%;
            }
        }
    }
}

.flex-grid-4-8 {
    justify-content: space-between;

    .col {
        flex-basis: calc(33.3333% - 1em);

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 48%;
        }

        @media screen and (max-width:992px) {
            flex-basis: 100%;
        }

        &:nth-child(2n) {
            flex-basis: calc(66.6666% - 1em);

            @media screen and (max-width:1024px) {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 48%;
            }

            @media screen and (max-width:992px) {
                flex-basis: 100%;
            }
        }
    }
}

.flex-grid-6-6 {
    justify-content: space-between;

    .col {

        flex-basis: calc(50% - 1em);

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 48%;
        }

        @media screen and (max-width:992px) {
            flex-basis: 100%;
        }
    }
}

.flex-grid-4-4-4 {
    justify-content: space-between;

    .col {

        flex-basis: calc(33.3333% - 1em);

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 48%;
        }

        @media screen and (max-width:992px) {
            flex-basis: 100%;
        }
    }
}

.flex-grid-3-3-3-3 {
    justify-content: space-between;

    .col {

        flex-basis: calc(25% - 1em);

        @media screen and (max-width:1280px) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 45%;
        }

        @media screen and (max-width:768px) {
            flex-basis: 100%;
        }
    }
}

.flex-grid-2-2-2-2-2-2 {
    justify-content: space-between;

    .col {

        flex-basis: calc(16.6666% - 1em);

        @media screen and (max-width:1200px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: calc(33.3333% - 1em);
        }

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 47%;
        }

        @media screen and (max-width:768px) {
            flex-basis: 100%;
        }
    }
}

.flex-grid-3-5-4 {
    justify-content: space-between;


    .col {
        flex-basis: calc(25% - 1em);

        @media screen and (max-width:1440px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: calc(33.3333% - 1em);
        }

        @media screen and (max-width:1200px) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: calc(50% - 1em);
        }

        @media screen and (max-width:768px) {
            flex-basis: 100%;
        }
    }

    .col:nth-child(2n) {
        flex-basis: calc(50% - 1em);

        @media screen and (max-width:1440px) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: calc(33.3333% - 1em);
        }

        @media screen and (max-width:1200px) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: calc(50% - 1em);
        }

        @media screen and (max-width:768px) {
            flex-basis: 100%;
        }
    }

    .col:nth-child(3n) {
        flex-basis: calc(25% - 1em);

        @media screen and (max-width:1440px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
        }

        @media screen and (max-width:1024px) {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
        }

        @media screen and (max-width:768px) {
            flex-basis: 100%;
        }
    }
}